<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
        <applicationInitialization doAppInitAfterRestart="true">
            <add initializationPage="/" />
        </applicationInitialization>
    </system.webServer>
</configuration>
<!--ProjectGuid: 48b4bc72-1cd2-41e6-98ac-1038855b02ca-->